<h1>Messages</h1>
<a href="/.."><small>Home</a></small>
<a href="messages/new"><small>Post a message... Let it all out!</small></a>

<% @messages.each do |message| %>
	<div class="message">
		<h3><small>by: <a href=<%= /messages/ %>><%= message.author %></a></small></h3> 
		<h5><small>URL: <a href=<%= message.url %>>go to site</a></small></h5>
		<p>
			<%= message.content %>
		</p>
	</div>
<% end %>
