<h1>Home Page</h1>
<a href="messages"><small>Messages</a></small>
<a href="messages/new"><small>Post a message... Let it all out!</small></a>
<p></p>
<p></p>

<div id="googleMap" style="width:500px;height:380px;"></div>
